.copyright{
    display:flex;
    color: white;
    background-color: #1b011f;
}
.left-copy{
    margin-left:auto;
   
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.right-copy{
    padding:1vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.payment-img{
    height:8vh;
    width:25vh;
}